.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Renviron
.vscode*
*.aux
*.log

*.html
*.pdf
*.arrow
*.feather
*.docx
*.png
*.jpg
*.jpeg

_targets/
_targets_files/
_targets_r/
_targets_packages.R
_targets.R


article.tex


test_data/
/.luarc.json
/targets_files
wip.R
/.quarto/
*response to reviewers*
